.MainHeaderSection a{
    text-decoration: none;
    color:white;
}
.MainHeaderSection .navbar .container-fluid .d-flex .dropdown-menu {
    box-shadow:  3px 3px 18px rgb(95, 85, 85);
}

.MainHeaderSection .navbar .container-fluid .d-flex .dropdown-menu li .dropdown-item{
    color:black;
    font-weight: 600;
}
li{
    list-style: none;
}
.MainHeaderSection .navbar .container-fluid  .collapse ul li a , 
.MainHeaderSection .navbar .container-fluid .collapse .d-flex li a {
    font-size: 14px;
    letter-spacing: .2px; 
    margin: 0 5px;
}
.MainHeaderSection .navbar .container-fluid  .collapse ul li   :hover,
.MainHeaderSection .navbar .container-fluid .collapse .d-flex li   :hover{
    color: #F98686;
}