* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 62.5%;
}

.app {
  width: 100vw;
}

/* Covid Banner */
.img2-banner {
  float:left;
  margin:0 20px;
  background-repeat:no-repeat;
  background-image:url(//s3.rdbuz.com/Images/webplatform/measures/safetyplus.svg);
  width:88px;
  height:88px;
  background-size:contain
 }
 .bannerMain {
  width:1122px;
  height:350px;
  background-color:#fff;
  border:1px solid #ddd;
  margin:50px auto;
 }
 .p-right {
  padding-right:240px
 }
 .sub-container-otg {
  margin-left:30px;
  float:left;
  width:83%
 }
 .know-more-btn {
  font-size:14px;
  font-weight:500;
  text-align:center;
  color:#3e3e52;
  padding:5px 24px;
  text-decoration:none;
  background-color:#f8f4f4;
  width:144px;
  border-radius:3px;
  border:1px solid #3e3e52
 }
 .Title-banner {
  font-weight:bolder;
  text-align:left;
  color:#3e3e52;
  font-size:32px;
  font-weight:700;
  margin-top:27px
 }
 .subtext-banner {
  font-size:24px;
  font-weight:400;
  font-style:normal;
  font-stretch:normal;
  line-height:1.25;
  letter-spacing:.3px;
  text-align:left;
  color:#7e7e8c;
  margin-top:10px
 }
 .subtext-banner .know-more-anchor {
  font-size:12px;
  font-weight:700;
  text-transform:uppercase
 }
 .img3-banner {
  background-image:url(//s3.rdbuz.com/images/webplatform/india/HeroFeature/tip-icon.png);
  width:24px;
  height:24px
 }
 .img3-banner,
 .img4-banner {
  display:inline-block;
  background-repeat:no-repeat;
  background-size:contain;
  vertical-align:middle
 }
 .img4-banner {
  background-image:url(https://st.redbus.in/Images/safety/landing/measures/safety_plus_tag.svg);
  width:94px;
  height:22px;
  margin-top:-8px
 }
 .links-otg {
  display:inline-block;
  float: left;
  text-decoration:none;
  padding-top:44px;
  width:140px;
  height:32px;
  box-sizing:border-box
 }
 .value-banner {
  padding-top:10px;
  font-size:14px;
  font-weight:400;
  line-height:1.43;
  color:#34495e;
  font-weight:700
 }
 .titl-banner,
 .value-banner {
  width:278px;
  font-style:normal;
  font-stretch:normal;
  letter-spacing:.3px;
  text-align:left
 }
 .titl-banner {
  height:24px;
  font-size:19px;
  font-weight:bolder;
  color:#1446a0
 }
 .subHeader-banner {
  float:left;
  width:83%;
  margin-top:34px
 }
 .text-banner {
  width:278px;
  height:60px;
  font-size:14px;
  font-weight:400;
  font-style:normal;
  font-stretch:normal;
  line-height:1.43;
  letter-spacing:.3px;
  color:#34495e;
  text-align:left
 }
 .info-banner {
  margin-left:128px
 }
 .info-banner,
 .info-banner2 {
  float:left;
  width:200px;
  padding-top:33px
 }
 .info-banner2 {
  margin-left:99px;
  display:inline-block
 }
 .bannertext1 {
  line-height:1.71;
  letter-spacing:.3px;
  font-size: 1.2rem;
 }
 .text {
   font-size: 1.2rem;
 }
 